<div class="wrap">
  <button class="btn btn-outline" (click)="isModalVisible=true">Add {{elementName}}</button>

  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">
      <ng-container *clrDgHideableColumn="{ hidden : false }">
        Name
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'alias'" [clrDgSortOrder]="descSort">
      <ng-container *clrDgHideableColumn="{ hidden : true }">
        Alias
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'assetType'" [clrDgSortOrder]="descSort">
      <ng-container *clrDgHideableColumn="{ hidden : false }">
        Type
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgSortBy]="areaComparator">
      <ng-container *clrDgHideableColumn="{ hidden : false }">
        Area
      </ng-container>
      <clr-dg-string-filter [clrDgStringFilter]="areaFilter"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'status'" [clrDgSortOrder]="descSort">
      <ng-container *clrDgHideableColumn="{ hidden : true }">
        Status
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'discoveryDate'" [clrDgSortOrder]="descSort">
      <ng-container *clrDgHideableColumn="{ hidden : true }">
        Status Date
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'integrity'">
      <ng-container *clrDgHideableColumn="{ hidden : true }">
        Integrity
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'confidentiality'">
      <ng-container *clrDgHideableColumn="{ hidden : true }">
        Confidentiality
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'trazability'">
      <ng-container *clrDgHideableColumn="{ hidden : true }">
        Trazability
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'authorization'">
      <ng-container *clrDgHideableColumn="{ hidden : true }">
        Authorization
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'availability'">
      <ng-container *clrDgHideableColumn="{ hidden : true }">
        Availability
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'activityLogs'">
      <ng-container *clrDgHideableColumn="{ hidden : true }">
        Activity Logs
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'accessLogs'">
      <ng-container *clrDgHideableColumn="{ hidden : true }">
        Access Logs
      </ng-container>
    </clr-dg-column>



    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden : false }">
        Characteristics
      </ng-container>
      <clr-dg-string-filter [clrDgStringFilter]="characteristicFilter"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column [clrDgSortBy]="vulnComparator">
      <ng-container *clrDgHideableColumn="{ hidden : false }">
        Vulnerabilities
      </ng-container>
    </clr-dg-column>



    <clr-dg-row *clrDgItems="let asset of elements" [clrDgItem]="asset">
      <clr-dg-cell>{{asset.name}}</clr-dg-cell>
      <clr-dg-cell>{{asset.alias}}</clr-dg-cell>
      <clr-dg-cell *ngIf="asset.assetType=='WEB'">
        <clr-icon shape="network-globe"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.assetType=='API'">
        <clr-icon shape="usb"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.assetType=='APP'">
        <clr-icon shape="mobile"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.assetType=='IOT'">
        <clr-icon shape="router"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.area; else undefinedArea">{{asset.area.name}}</clr-dg-cell>
      <ng-template #undefinedArea>
        <clr-dg-cell></clr-dg-cell>
      </ng-template>
      <clr-dg-cell>{{asset.status}}</clr-dg-cell>
      <clr-dg-cell>{{asset.statusDate | date}}</clr-dg-cell>
      <clr-dg-cell>
        <span class="label" [style.background-color]="getBC(asset.integrity)"
          [style.color]="getFC(asset.integrity)">{{asset.integrity}}</span>
      </clr-dg-cell>
      <clr-dg-cell>
        <span class="label" [style.background-color]="getBC(asset.confidentiality)"
          [style.color]="getFC(asset.confidentiality)">{{asset.confidentiality}}</span>
      </clr-dg-cell>
      <clr-dg-cell>
        <span class="label" [style.background-color]="getBC(asset.trazability)"
          [style.color]="getFC(asset.trazability)">{{asset.trazability}}</span>
      </clr-dg-cell>
      <clr-dg-cell>
        <span class="label" [style.background-color]="getBC(asset.authorization)"
          [style.color]="getFC(asset.authorization)">{{asset.authorization}}</span>
      </clr-dg-cell>
      <clr-dg-cell><span class="label" [style.background-color]="getBC(asset.availability)"
          [style.color]="getFC(asset.availability)">{{asset.availability}}</span>
      </clr-dg-cell>


      <clr-dg-cell *ngIf="asset.activityLogs=='DONE'">
        <clr-icon shape="network-globe"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.activityLogs=='WIP'">
        <clr-icon shape="cog" class="is-solid"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.activityLogs=='REFINING'">
        <clr-icon shape="wrench" class="is-solid"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.activityLogs=='DEFINING'">
        <clr-icon shape="pencil" class="is-solid"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.activityLogs=='NO'">
        <clr-icon shape="times"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.activityLogs=='NA'">
        NA
      </clr-dg-cell>

      <clr-dg-cell *ngIf="asset.accessLogs=='DONE'">
        <clr-icon shape="network-globe"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.accessLogs=='WIP'">
        <clr-icon shape="cog" class="is-solid"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.accessLogs=='REFINING'">
        <clr-icon shape="wrench" class="is-solid"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.accessLogs=='DEFINING'">
        <clr-icon shape="pencil" class="is-solid"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.accessLogs=='NO'">
        <clr-icon shape="times"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="asset.accessLogs=='NA'">
        NA
      </clr-dg-cell>
      <clr-dg-cell>
        <span class="label" *ngFor="let characteristic of asset.characteristics">
           {{characteristic.name}}</span>
      </clr-dg-cell>
      <clr-dg-cell><span class="badge badge-2"><b>{{getThing(asset.Vulnerability,'CRITICAL')}}</b></span>
        <span class="badge badge-danger"><b>{{getThing(asset.Vulnerability,'HIGH')}}</b></span>
        <span class="badge badge-warning"><b>{{getThing(asset.Vulnerability,'MEDIUM')}}</b></span>
        <span class="badge badge-success"><b>{{getThing(asset.Vulnerability,'LOW')}}</b></span>
      </clr-dg-cell>

      <clr-dg-action-overflow>
        <button class="action-item" (click)="delete(asset)">Delete</button>
      </clr-dg-action-overflow>
    </clr-dg-row>
    <clr-dg-detail *clrIfDetail="let detail">
      <clr-dg-detail-header>Asset: {{detail.name}}</clr-dg-detail-header>
      <app-asset-details [input]="detail" (updated)="modify($event)" ngProjectAs="clr-dg-row-detail">
      </app-asset-details>
    </clr-dg-detail>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">{{elementNamePlural}} per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} {{elementNamePlural}}
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>



<clr-modal *ngIf="isModalVisible" [(clrModalOpen)]="isModalVisible" [clrModalClosable]="true" [clrModalSize]="'xl'">
  <h3 class="modal-title">New {{elementName}}</h3>
  <div class="modal-body">
    <app-add-asset (created)="addAsset($event)"></app-add-asset>
  </div>
</clr-modal>