<app-alerts></app-alerts>
<clr-input-container>
    <label>Name<span style="color:red"></span></label>
    <input type="text" name="name" [(ngModel)]="contact.name" clrInput required/>
    <clr-control-error>This field is required!</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Email<span style="color:red"></span></label>
    <input type="text" name="email" [(ngModel)]="contact.email" clrInput required/>
    <clr-control-error>This field is required!</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Phone<span style="color:red"></span></label>
    <input type="text" name="tlf" [(ngModel)]="contact.tlf" clrInput required />
    <clr-control-error>This field is required!</clr-control-error>
  </clr-input-container>
  <button class="btn btn-outline" (click)="update()" type="button">Update</button>