<clr-tabs class="tabs-vertical">
  <clr-tab>
    <button clrTabLink>Info</button>
    <ng-template [(clrIfActive)]="dashboardActive">
      <clr-tab-content>
        <clr-input-container>
          <label>Name</label>
          <input type="text" name="name" [(ngModel)]="server.hostname" clrInput placeholder="Server's name" />
        </clr-input-container>
        <clr-datalist-container>
          <label>IP</label>
          <input clrDatalistInput name="ip" [(ngModel)]="auxIP" (change)="setIP($event.target.value)" />
          <datalist>
            <option *ngFor="let ip of ips" [value]="ip.ip"></option>
          </datalist>
        </clr-datalist-container>
        <button class="btn btn-primary" (click)="update();">Finish</button>
      </clr-tab-content>
    </ng-template>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Software</button>
    <ng-template [(clrIfActive)]="softwareActive">
      <clr-tab-content>
        <form class="clr-form clr-form-compact">
          <clr-datalist-container>
            <input clrDatalistInput name="asset" [(ngModel)]="auxAsset" (change)="setAsset($event.target.value);"
              placeholder="Add asset" />
            <datalist>
              <option *ngFor="let asset of assets" [value]="asset.name"></option>
            </datalist>
          </clr-datalist-container>
        </form>
        <clr-datagrid *ngIf="server.assets.length>0">
          <clr-dg-column>Name</clr-dg-column>
          <clr-dg-column>Description</clr-dg-column>
          <clr-dg-row *ngFor="let asset of server.assets">
            <clr-dg-action-overflow>
              <button class="action-item" (click)="toggleAsset(asset)">Remove</button>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{asset.name}}</clr-dg-cell>
            <clr-dg-cell>{{asset.description}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
              <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Assets per page</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Assets
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>

        <button class="btn btn-primary" (click)="update();">Finish</button>
      </clr-tab-content>
    </ng-template>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Characteristics</button>
    <ng-template [(clrIfActive)]="characteristicsActive">
      <clr-tab-content>
        <span class="label clickable" (click)="toggleCharacteristic(characteristic)"
          *ngFor="let characteristic of server.characteristics">{{characteristic.name}}</span>
        <clr-datalist-container>
          <input clrDatalistInput name="characteristic " [(ngModel)]="auxCharacteristic" placeholder="Add characteristic" (change)="setCharacteristic($event.target.value)" />
          <datalist>
            <option *ngFor="let characteristic of characteristics" [value]="characteristic.name"></option>
          </datalist>
        </clr-datalist-container>
        <button class="btn btn-primary" (click)="update();">Finish</button>
      </clr-tab-content>
    </ng-template>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Contacts</button>
    <ng-template [(clrIfActive)]="contactsActive">
      <clr-tab-content>
        <clr-input-container>
          <label>Role</label>
          <input type="text" name="functionality" [(ngModel)]="auxContactTo.functionality" clrInput />
        </clr-input-container>
        
        <clr-datalist-container>
          <label>Contact</label>
          <input clrDatalistInput name="contact"  [(ngModel)]="auxContactTo.contact" (change)="setContact($event.target.value);" />
          <datalist>
            <option *ngFor="let contact of contacts" [value]="contact.name"></option>
          </datalist>
        </clr-datalist-container>
        <clr-datagrid *ngIf="server.contacts.length>0">
          <clr-dg-column>Function</clr-dg-column>
          <clr-dg-column>Name</clr-dg-column>
          <clr-dg-column>Email</clr-dg-column>
          <clr-dg-column>Phone</clr-dg-column>
          <clr-dg-row *ngFor="let contact of server.contacts">
              <clr-dg-action-overflow>
                  <button (click)="toggleContact(contact.contact.name)" class="action-item">Remove</button> 
              </clr-dg-action-overflow>
              <clr-dg-cell>{{contact.functionality}}</clr-dg-cell>
              <clr-dg-cell>{{contact.contact.name}}</clr-dg-cell>
              <clr-dg-cell>{{contact.contact.email}}</clr-dg-cell>
              <clr-dg-cell>{{contact.contact.tlf}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Contacts per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Contacts
              </clr-dg-pagination>
            </clr-dg-footer>
      </clr-datagrid>
      <button class="btn btn-primary" (click)="update();">Finish</button>
      </clr-tab-content>
    </ng-template>
  </clr-tab>
</clr-tabs>