<div class="wrap">
  <button class="btn btn-outline" (click)="isModalVisible=true">Add {{elementName}}</button>


  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>>
    <clr-dg-column [clrDgField]="'profile.name'" [clrDgSortOrder]="descSort">Profile</clr-dg-column>>
    <clr-dg-row *clrDgItems="let user of elements" [clrDgItem]="user">
      <clr-dg-cell>{{user.name}}</clr-dg-cell>
      <clr-dg-cell *ngIf="user.profile">{{user.profile.name}}</clr-dg-cell>
      <clr-dg-action-overflow>
        <button class="action-item" (click)="delete(user)">Delete</button>
      </clr-dg-action-overflow>
    </clr-dg-row>
    <clr-dg-detail *clrIfDetail="let detail">
      <clr-dg-detail-header>User: {{detail.name}}</clr-dg-detail-header>
      <clr-dg-detail-body>
        <clr-input-container>
          <label>Name</label>
          <input type="text" name="name" [(ngModel)]="detail.name" clrInput placeholder="{{detail.name}}" />
        </clr-input-container>
        <clr-input-container>
          <label>Password</label>
          <input type="passwprd" name="password"   [(ngModel)]="detail.password" clrInput />
        </clr-input-container>
        <clr-datalist-container>
          <label>Profile</label>
          <input clrDatalistInput name="profile" [value]="detail.profile.name" (change)="updateUser(detail,$event.target.value)" />
          <datalist>
            <option *ngFor="let profile of profiles" [value]="profile.name"></option>
          </datalist>
        </clr-datalist-container>
        <button class="btn btn-outline" (click)="modify(detail)" type="button">Update</button>
      </clr-dg-detail-body>
    </clr-dg-detail>
    <clr-dg-footer>
      <clr-dg-pagination #pagination>
        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">{{elementNamePlural}} per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} {{elementNamePlural}}
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>



<clr-modal [(clrModalOpen)]="isModalVisible" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">New {{elementName}}</h3>
  <div class="modal-body">
    <clr-input-container>
      <label>Name</label>
      <input type="text" name="name" [(ngModel)]="newElement.name" clrInput placeholder="User's name" />
    </clr-input-container>
    <clr-input-container>
      <label>Password</label>
      <input type="password" name="hash" [(ngModel)]="newElement.hash" clrInput placeholder="User's password" />
    </clr-input-container>
    <clr-datalist-container>
      <label>Profile</label>
      <input clrDatalistInput name="profile"  (change)="setProfile($event.target.value)" />
      <datalist>
        <option *ngFor="let profile of profiles" [value]="profile.name"></option>
      </datalist>
    </clr-datalist-container>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="add();closeModal()" type="button">Submit</button>
    <button class="btn btn-primary" (click)="closeModal()" type="button">Cancel</button>
  </div>
</clr-modal>