<app-alerts></app-alerts>
<div class="wrap">
    <clr-tabs>
        <clr-tab>
            <button clrTabLink>Info</button>
            <ng-template [(clrIfActive)]="infoActive">
                <clr-tab-content>
                    <div class="clr-row">
                        <div class="clr-col-lg-auto">
                            <clr-select-container>
                                <label>Client<span style="color:red"></span></label>
                                <select clrSelect name="client" [(ngModel)]="domain.client">
                                    <option *ngFor="let client of _clients" value="{{client}}">{{client}}</option>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-lg-auto">
                            <clr-input-container>
                                <label>Domain<span style="color:red"></span></label>
                                <input type="text" name="url" [(ngModel)]="domain.url" clrInput
                                    placeholder="{{domain.url}}" />
                            </clr-input-container>
                        </div>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-lg-auto">
                            <clr-select-container>
                                <label>Enviroment<span style="color:red"></span></label>
                                <select clrSelect name="enviroment" [(ngModel)]="domain.enviroment">
                                    <option *ngFor="let enviroment of _enviroments" value="{{enviroment}}">
                                        {{enviroment}}</option>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-lg-auto">
                            <clr-checkbox-container>
                                <clr-checkbox-wrapper>
                                    <input type="checkbox" [(ngModel)]="domain.privateDomain" clrCheckbox value=""
                                        name="privateDomain" />
                                    <label>Private</label>
                                </clr-checkbox-wrapper>
                            </clr-checkbox-container>
                        </div>
                    </div>
                </clr-tab-content>
            </ng-template>
        </clr-tab>
        <clr-tab>
            <button clrTabLink>WAFSs</button>
            <ng-template [(clrIfActive)]="listActive">
                <clr-tab-content>
                    <div class="clr-row">
                        <div class="clr-col-lg-auto">
                            <clr-datagrid *ngIf="domain.wafs.length>0">
                                <clr-dg-column>Domain</clr-dg-column>
                                <clr-dg-row *ngFor="let waf of domain.wafs">
                                    <clr-dg-action-overflow>
                                        <button (click)="toggleWaf(waf.name)" class="action-item">Remove from
                                            waf</button>
                                    </clr-dg-action-overflow>
                                    <clr-dg-cell>{{waf.name}}</clr-dg-cell>
                                </clr-dg-row>
                                <clr-dg-footer>
                                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                                        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Wafs per page
                                        </clr-dg-page-size>
                                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
                                        {{pagination.totalItems}}
                                        WAFS
                                    </clr-dg-pagination>
                                </clr-dg-footer>
                            </clr-datagrid>
                        </div>
                    </div>
                </clr-tab-content>
            </ng-template>
        </clr-tab>
        <clr-tab>
            <button clrTabLink>Certificate</button>
            <ng-template [(clrIfActive)]="certificateActive">
                <clr-tab-content>
                    <div *ngIf="domain.certificate;" class="card">
                        <div class="card-block">
                            <div class="card-text">
                                <i>CN: </i><b>{{domain.certificate.domainName}}</b>
                                <br *ngIf="domain.certificate.issuer">
                                <i *ngIf="domain.certificate.issuer">Issuer: </i> <b *ngIf="domain.certificate.issuer">{{domain.certificate.issuer}}</b>
                                <br *ngIf="domain.certificate.issuer">
                                <i *ngIf="domain.certificate.issuer">Expiration Date: </i><b *ngIf="domain.certificate.issuer">{{domain.certificate.expirationDate | date}}</b>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-sm btn-link" (click)="removeCertificate()">Remove certificate</button>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-lg-auto">
                        <clr-datalist-container>
                            <label>Change certificate</label>
                            <input clrDatalistInput name="certificate" [(ngModel)]="auxCertificate" (change)="setCertificate($event.target.value)" />
                            <datalist>
                                <option *ngFor="let certificate of certificates" [value]="certificate.domainName"></option>
                            </datalist>
                        </clr-datalist-container>
                    </div>
                </clr-tab-content>
            </ng-template>
        </clr-tab>
    </clr-tabs>
    <button (click)="update()" class="btn btn-outline">Update Domain</button>
</div>