<app-alerts></app-alerts>
<clr-tabs class="tabs-vertical">
  <clr-tab>
    <button clrTabLink>Info</button>
    <ng-template [(clrIfActive)]="dashboardActive">
      <clr-tab-content>
        <div class="clr-row">
          <div class="clr-col-lg-auto">
            <clr-input-container>
              <label>Name<span style="color:red">*</span></label>
              <input autocomplete="off" type="text" name="name" [(ngModel)]="newElement.name" clrInput
                placeholder="Asset's name" required />
              <clr-control-error>This field is required!</clr-control-error>
            </clr-input-container>
          </div>
          <div class="clr-col-lg-auto">
            <clr-input-container>
              <label>Alias</label>
              <input type="text" name="alias" [(ngModel)]="newElement.alias" clrInput />
            </clr-input-container>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-lg-auto">
            <clr-select-container>
              <label>Type<span style="color:red">*</span></label>
              <select clrSelect name="status" [(ngModel)]="newElement.assetType" required>
                <option *ngFor="let type of _assetTypes" value="{{type}}">{{type}}</option>
              </select>
              <clr-control-error>This field is required!</clr-control-error>
            </clr-select-container>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-lg-auto">
            <clr-radio-container clrInline>
              <label>New Area?</label>
              <clr-radio-wrapper>
                <input type="radio" clrRadio required value="Y" [(ngModel)]="newArea" />
                <label>Yes</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio required value="N" [(ngModel)]="newArea" />
                <label>No</label>
              </clr-radio-wrapper>
            </clr-radio-container>
            <app-add-area *ngIf="newArea=='Y'" (created)="addArea($event)"></app-add-area>
            <clr-datalist-container *ngIf="newArea=='N'">
              <label>Area</label>
              <input clrDatalistInput name="area" [(ngModel)]="auxArea" (change)="setArea($event.target.value)" />
              <datalist>
                <option *ngFor="let area of areas" [value]="area.name"></option>
              </datalist>
            </clr-datalist-container>
          </div>
        </div>
        <div *ngIf="newArea=='AreaCreated'" class="clr-row">
          <div class="card">
            <div class="card-block">
              <div class="card-text">
                A new area will be created:
                <br>
                <i>Name: </i><b>{{newElement.area.name}}</b>
                <br>
                <i>Description: </i> <b>{{newElement.area.description}}</b>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-lg-auto">
            <clr-select-container>
              <label>Status</label>
              <select clrSelect name="status" [(ngModel)]="newElement.status">
                <option *ngFor="let status of _states" value="{{status.value}}">{{status.name}}</option>
              </select>
            </clr-select-container>
          </div>
          <div class="clr-col-lg-auto" style="z-index:9999">
            <clr-date-container style="z-index:9999">
              <label>Status date</label>
              <input type="date" style="z-index:9999" [(clrDate)]="newElement.statusDate" name="statusDate">
            </clr-date-container>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-lg-auto">
            <clr-textarea-container>
              <label>Description</label>
              <textarea clrTextarea [(ngModel)]="newElement.description" name="description"></textarea>
            </clr-textarea-container>
          </div>
        </div>
        <button class="btn btn-primary" (click)="create();">Add Asset</button>
      </clr-tab-content>
    </ng-template>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>GDPR</button>
    <ng-template [(clrIfActive)]="gdprActive">
      <clr-tab-content>
        <h3>Risk analysis</h3>
        <div class="clr-row">
          <div class="clr-col-lg-auto">
            <clr-select-container>
              <label>Confidentiality</label>
              <select clrSelect name="confidentiality" [(ngModel)]="newElement.confidentiality">
                <option *ngFor="let risk of _grcValues" value="{{risk}}">{{risk}}</option>
              </select>
            </clr-select-container>
          </div>
          <div class="clr-col-lg-auto">
            <clr-select-container>
              <label>Integrity</label>
              <select clrSelect name="integrity" [(ngModel)]="newElement.integrity">
                <option *ngFor="let risk of _grcValues" value="{{risk}}">{{risk}}</option>
              </select>
            </clr-select-container>
          </div>
          <div class="clr-col-lg-auto">
            <clr-select-container>
              <label>Availability</label>
              <select clrSelect name="availability" [(ngModel)]="newElement.availability">
                <option *ngFor="let risk of _grcValues" value="{{risk}}">{{risk}}</option>
              </select>
            </clr-select-container>
          </div>
          <div class="clr-col-lg-auto">
            <clr-select-container>
              <label>Trazability</label>
              <select clrSelect name="trazability" [(ngModel)]="newElement.trazability">
                <option *ngFor="let risk of _grcValues" value="{{risk}}">{{risk}}</option>
              </select>
            </clr-select-container>
          </div>
          <div class="clr-col-lg-auto">
            <clr-select-container>
              <label>Authorization</label>
              <select clrSelect name="authorization" [(ngModel)]="newElement.authorization">
                <option *ngFor="let risk of _grcValues" value="{{risk}}">{{risk}}</option>
              </select>
            </clr-select-container>
          </div>
        </div>
        <h3>Logs</h3>
        <div class="clr-row">
          <div class="clr-col-lg-auto">
            <clr-select-container>
              <label>Access</label>
              <select clrSelect name="accessLogs" [(ngModel)]="newElement.accessLogs">
                <option *ngFor="let status of _logValues" value="{{status}}">{{status}}</option>
              </select>
            </clr-select-container>
          </div>
          <div class="clr-col-lg-auto">
            <clr-select-container>
              <label>Activity</label>
              <select clrSelect name="activityLogs" [(ngModel)]="newElement.activityLogs">
                <option *ngFor="let status of _logValues" value="{{status}}">{{status}}</option>
              </select>
            </clr-select-container>
          </div>
        </div>
        <button class="btn btn-primary" (click)="create();">Add Asset</button>
      </clr-tab-content>
    </ng-template>
  </clr-tab>
  <!--<clr-tab>
    <button clrTabLink>Servers</button>
    <ng-template [(clrIfActive)]="serversActive">
      <clr-tab-content>
        <form class="clr-form clr-form-compact">
          <clr-datalist-container>
            <input clrDatalistInput name="server" [(ngModel)]="auxServer" (change)="setServer($event.target.value);"
              placeholder="Search" />
            <datalist>
              <option *ngFor="let server of servers" [value]="server.hostname"></option>
            </datalist>
          </clr-datalist-container>
        </form>
        <table *ngIf="newElement.servers.length>0" class="table table-noborder">
          <thead>
            <tr>
              <th class="left">Hostname</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let server of newElement.servers">
              <td>{{server.hostname}}</td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary" (click)="create();">Add Asset</button>
      </clr-tab-content>
    </ng-template>
  </clr-tab>-->
  <clr-tab>
    <button clrTabLink>Domains</button>
    <ng-template [(clrIfActive)]="domainsActive">
      <clr-tab-content>
        <div class="clr-row">
          <div class="clr-col-lg-auto">
            <clr-radio-container clrInline>
              <label>New Domain?</label>
              <clr-radio-wrapper>
                <input type="radio" clrRadio required value="Y" [(ngModel)]="newDomain" />
                <label>Yes</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio required value="N" [(ngModel)]="newDomain" />
                <label>No</label>
              </clr-radio-wrapper>
            </clr-radio-container>
            <app-add-domain *ngIf="newDomain=='Y'" [fromAsset]="true" (created)="addDomain($event)"></app-add-domain>
            <clr-datalist-container *ngIf="newDomain=='N'">
              <label>Domains</label>
              <input clrDatalistInput name="domain" [(ngModel)]="auxDomain" (change)="setDomain($event.target.value)" />
              <datalist>
                <option *ngFor="let domain of domains" [value]="domain.url"></option>
              </datalist>
            </clr-datalist-container>
            <!--<table *ngIf="newElement.Domain.length>0" class="table table-noborder">
              <thead>
                <tr>
                  <th class="left">Url</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let domain of newElement.Domain">
                  <td>{{domain.url}}</td>
                </tr>
              </tbody>
            </table>-->
            <clr-datagrid *ngIf="newElement.Domain.length>0">
              <clr-dg-column>New Domain?</clr-dg-column>
              <clr-dg-column>Private</clr-dg-column>
              <clr-dg-column>Domain</clr-dg-column>
              <clr-dg-row *ngFor="let domain of newElement.Domain">
                <clr-dg-action-overflow>
                  <button (click)="toggleDomain(domain)" class="action-item">Remove</button>
                </clr-dg-action-overflow>
                <clr-dg-cell *ngIf="domain.enviroment; else old">
                  <clr-icon shape="check-circle" class="is-solid"></clr-icon>
                </clr-dg-cell>
                <ng-template #old>
                  <clr-dg-cell>
                    <clr-icon shape="times"></clr-icon>
                  </clr-dg-cell>
                </ng-template>

                <clr-dg-cell *ngIf="domain.private; else publicDom">
                  <clr-icon shape="check-circle" class="is-solid"></clr-icon>
                </clr-dg-cell>
                <ng-template #publicDom>
                  <clr-dg-cell>
                    <clr-icon shape="times"></clr-icon>
                  </clr-dg-cell>
                </ng-template>
                <clr-dg-cell>{{domain.url}}</clr-dg-cell>
              </clr-dg-row>
              <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                  <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Domains per page
                  </clr-dg-page-size>
                  {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}}
                  Domains
                </clr-dg-pagination>
              </clr-dg-footer>
            </clr-datagrid>
          </div>
        </div>
        <button class="btn btn-primary" (click)="create();">Add Asset</button>
      </clr-tab-content>
    </ng-template>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Characteristics</button>
    <ng-template [(clrIfActive)]="characteristicsActive">
      <clr-tab-content>
        <form class="clr-form clr-form-compact">
          <clr-datalist-container>
            <input clrDatalistInput name="characteristic" [(ngModel)]="auxCharacteristic"
              (change)="setCharacteristic($event.target.value)" placeholder="Search" />
            <datalist>
              <option *ngFor="let characteristic of characteristics" [value]="characteristic.name"></option>
            </datalist>
          </clr-datalist-container>
        </form>
        <span class="label" *ngFor="let characteristic of newElement.characteristics">{{characteristic.name}}</span>
        <button class="btn btn-primary" (click)="create();">Add Asset</button>
      </clr-tab-content>
    </ng-template>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Contacts</button>
    <ng-template [(clrIfActive)]="contactsActive">
      <clr-tab-content>
        <clr-radio-container clrInline>
          <label>New Contact?</label>
          <clr-radio-wrapper>
            <input type="radio" clrRadio value="Y" [(ngModel)]="newContact" />
            <label>Yes</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper>
            <input type="radio" clrRadio value="N" [(ngModel)]="newContact" />
            <label>No</label>
          </clr-radio-wrapper>
        </clr-radio-container>
        <app-add-contact *ngIf="newContact=='Y'" (created)="auxContactTo.contact=$event;newContact='ContactCreated'">
        </app-add-contact>
        <clr-datalist-container *ngIf="newContact=='N'">
          <label>Contact</label>
          <input clrDatalistInput name="contact" (change)="setContact($event.target.value);" />
          <datalist>
            <option *ngFor="let contact of contacts" [value]="contact.name"></option>
          </datalist>
        </clr-datalist-container>
        <div *ngIf="newContact=='ContactCreated'" class="clr-row">
          <div class="card">
            <div class="card-block">
              <div class="card-text">
                A new contact will be created:
                <br>
                <i>Name: </i><b>{{auxContactTo.contact.name}}</b>
                <br>
                <i>Email: </i><b>{{auxContactTo.contact.email}}</b>
                <br>
                <i>Tlf: </i><b>{{auxContactTo.contact.tlf}}</b>
                <br>
              </div>
            </div>
          </div>
        </div>
        <clr-input-container *ngIf="newContact">
          <label>Role</label>
          <input type="text" name="functionality" [(ngModel)]="auxContactTo.functionality" clrInput />
        </clr-input-container>
        <!--<table *ngIf="newElement.contacts.length>0" class="table table-noborder">
          <thead>
            <tr>
              <th>Functionality</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of newElement.contacts">
              <td>{{contact.functionality}}</td>
              <td>{{contact.contact.name}}</td>
            </tr>
          </tbody>
        </table>-->
        <button *ngIf="auxContactTo.functionality && auxContactTo.contact" class="btn btn-primary"
          (click)="addContact();">Add contact</button>
        <clr-datagrid *ngIf="newElement.contacts.length>0">
          <clr-dg-column>New Contact?</clr-dg-column>
          <clr-dg-column>Role</clr-dg-column>
          <clr-dg-column>Name</clr-dg-column>
          <clr-dg-column>Email</clr-dg-column>
          <clr-dg-column>Tlf</clr-dg-column>
          <clr-dg-row *ngFor="let contact of newElement.contacts">
            <clr-dg-action-overflow>
              <button (click)="toggleContact(contact)" class="action-item">Remove</button>
            </clr-dg-action-overflow>
            <clr-dg-cell *ngIf="contact.contact.email; else old">
              <clr-icon shape="check-circle" class="is-solid"></clr-icon>
            </clr-dg-cell>
            <ng-template #old>
              <clr-dg-cell>
                <clr-icon shape="times"></clr-icon>
              </clr-dg-cell>
            </ng-template>
            <clr-dg-cell>{{contact.functionality}}</clr-dg-cell>
            <clr-dg-cell>{{contact.contact.name}}</clr-dg-cell>
            <clr-dg-cell>{{contact.contact.email}}</clr-dg-cell>
            <clr-dg-cell>{{contact.contact.tlf}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
              <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Contacts per page
              </clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}}
              Contacts
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
        <button class="btn btn-primary" (click)="create();">Add Asset</button>
      </clr-tab-content>
    </ng-template>
  </clr-tab>
  <clr-tab *nfIf="!fromServer">
    <button clrTabLink>Servers</button>
    <ng-template [(clrIfActive)]="serversActive">
      <clr-tab-content>
        <div class="clr-row">
          <div class="clr-col-lg-auto">
            <clr-radio-container clrInline>
              <label>New Server?</label>
              <clr-radio-wrapper>
                <input type="radio" clrRadio required value="Y" [(ngModel)]="newServer" />
                <label>Yes</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio required value="N" [(ngModel)]="newServer" />
                <label>No</label>
              </clr-radio-wrapper>
            </clr-radio-container>
            <app-add-server *ngIf="newServer=='Y'" [fromAsset]="true" (created)="addServer($event)"></app-add-server>
            <clr-datalist-container *ngIf="newServer=='N'">
              <label>Servers</label>
              <input clrDatalistInput name="server" [(ngModel)]="auxServer" (change)="setServer($event.target.value)" />
              <datalist>
                <option *ngFor="let server of servers" [value]="server.hostname"></option>
              </datalist>
            </clr-datalist-container>

            <clr-datagrid *ngIf="newElement.servers.length>0">
              <clr-dg-column>Hostname</clr-dg-column>
              <clr-dg-column>IP</clr-dg-column>
              <clr-dg-row *ngFor="let server of newElement.servers">
                <clr-dg-action-overflow>
                  <button (click)="toggleServer(server)" class="action-item">Remove</button>
                </clr-dg-action-overflow>
                <clr-dg-cell>{{server.hostname}}</clr-dg-cell>
                <clr-dg-cell *ngIf="server.ip else noIP">
                  <clr-dg-cell>{{server.ip.ip}}</clr-dg-cell>
                </clr-dg-cell>
                <ng-template #noIP>
                  <clr-dg-cell>
                  </clr-dg-cell>
                </ng-template>


              </clr-dg-row>
              <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                  <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Servers per page
                  </clr-dg-page-size>
                  {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}}
                  Servers
                </clr-dg-pagination>
              </clr-dg-footer>
            </clr-datagrid>
          </div>
        </div>
        <button class="btn btn-primary" (click)="create();">Add Asset</button>
      </clr-tab-content>
    </ng-template>
  </clr-tab>
</clr-tabs>