<div class="wrap">
  <button class="btn btn-outline" (click)="isModalVisible=true">Add {{elementName}}</button>


  <clr-datagrid>
    <clr-dg-column [clrDgField]="'hostname'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'ip.name'" [clrDgSortBy]="ipComparator">IP
      <clr-dg-string-filter [clrDgStringFilter]="ipFilter"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'ids'" [clrDgSortOrder]="descSort">IDS</clr-dg-column>
    <clr-dg-column [clrDgSortBy]="assetComparator">Assets deployed
      <clr-dg-numeric-filter [clrDgNumericFilter]="assetFilter"></clr-dg-numeric-filter>
    </clr-dg-column>
    <clr-dg-row *clrDgItems="let server of elements" [clrDgItem]="server">
      <clr-dg-cell>{{server.hostname}}</clr-dg-cell>
      <clr-dg-cell *ngIf="server.ip; else noIP">{{server.ip.ip}}</clr-dg-cell>
      <ng-template #noIP>
        <clr-dg-cell></clr-dg-cell>
      </ng-template>
      <clr-dg-cell>
        <span *ngFor="let ids of server.idss">
          - {{ids.name}}<br /></span>
      </clr-dg-cell>
      <clr-dg-cell>{{server.assets.length}}</clr-dg-cell>
      <clr-dg-action-overflow>
        <button class="action-item" (click)="delete(server)">Delete</button>
      </clr-dg-action-overflow>
    </clr-dg-row>
    <clr-dg-detail *clrIfDetail="let detail">
      <clr-dg-detail-header>Server: {{detail.name}}</clr-dg-detail-header>
      <clr-dg-detail-body>
        <app-server-details [input]="detail" (updated)="modify($event)" ngProjectAs="clr-dg-row-detail"></app-server-details>
      </clr-dg-detail-body>
    </clr-dg-detail>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">{{elementNamePlural}} per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} {{elementNamePlural}}
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>





<clr-modal *ngIf="isModalVisible" [(clrModalOpen)]="isModalVisible" [clrModalClosable]="true" [clrModalSize]="'xl'">
  <h3 class="modal-title">New {{elementName}}</h3>
  <div class="modal-body">
    <app-add-server [fromAsset]="false" (created)="addServer($event)"></app-add-server>
  </div>
</clr-modal>