<app-alerts></app-alerts>
<div class="wrap">
  <div class="clr-row">
    <div class="clr-col-lg-auto">
      <clr-input-container>
        <label>Name<span style="color:red">*</span></label>
        <input type="text" name="name" [(ngModel)]="audit.name" clrInput required />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
    </div>
    <div class="clr-col-lg-auto">
      <clr-date-container >
        <label>Audit date<span style="color:red">*</span></label>
        <input type="date" [(clrDate)]="audit.auditDate" name="auditDate" required>
        <clr-control-error>This field is required!</clr-control-error> 
      </clr-date-container>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-auto">
      <clr-datalist-container>
        <label>Asset<span style="color:red">*</span></label>
        <input clrDatalistInput name="asset" [(ngModel)]="auxAsset" (change)="setAsset($event.target.value)" />
        <datalist>
          <option *ngFor="let asset of assets" [value]="asset.name"></option>
        </datalist>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-datalist-container>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-auto">
      <clr-select-container>
        <label>Methodology<span style="color:red">*</span></label>
        <select clrSelect name="methodology" [(ngModel)]="audit.methodology">
          <option *ngFor="let methodology of _methodologies" value="{{methodology.value}}">{{methodology.name}}</option>
        </select>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-select-container>
    </div>
    <div class="clr-col-lg-auto">
      <clr-select-container>
        <label>Tool<span style="color:red">*</span></label>
        <select clrSelect name="tool" [(ngModel)]="audit.tool">
          <option *ngFor="let tool of _auditTools" value="{{tool}}">{{tool}}</option>
        </select>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-select-container>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-auto">
      <clr-datalist-container>
        <label>Auditor</label>
        <input clrDatalistInput name="auditor" [(ngModel)]="auxAuditor" (change)="setAuditor($event.target.value)" />
        <datalist>
          <option *ngFor="let user of users" [value]="user.name"></option>
        </datalist>
      </clr-datalist-container>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-auto">
      <clr-textarea-container>
        <label>Scope</label>
        <textarea rows="2" cols="60" clrTextarea [(ngModel)]="audit.scope" name="scope"></textarea>
      </clr-textarea-container>
    </div>
  </div>
  <button (click)="update()" class="btn btn-outline">Update</button>
</div>