<app-alerts></app-alerts>
<div class="wrap">
    <div class="clr-row">
      <div class="clr-col-lg-auto">
        <clr-input-container>
          <label>Name<span style="color:red"></span></label>
          <input type="text" name="name" [(ngModel)]="ids.name" clrInput />
        </clr-input-container>
      </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-lg-auto">
          <clr-textarea-container>
            <label>Description<span style="color:red"></span></label>
            <textarea rows="2" cols="60" clrTextarea [(ngModel)]="ids.description"
              name="description"></textarea>
          </clr-textarea-container>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-lg-auto">
          <clr-checkbox-container>
            <clr-checkbox-wrapper>
                <input type="checkbox" [(ngModel)]="ids.denyList" clrCheckbox value="" name="denyList" />
                <label>Deny</label>
            </clr-checkbox-wrapper>
            </clr-checkbox-container>
        </div>
      </div>
    <div class="clr-row">
      <div class="clr-col-lg-auto">
        <clr-datalist-container>
            <input clrDatalistInput name="server " [(ngModel)]="auxServer"
                placeholder="Add server" (change)="setServer($event.target.value)" />
            <datalist>
                <option *ngFor="let server of servers" [value]="server.hostname">
                </option>
            </datalist>
        </clr-datalist-container>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-lg-auto">
        <clr-datagrid *ngIf="ids.servers.length>0">
          <clr-dg-column>Server</clr-dg-column>
          <clr-dg-row *ngFor="let server of ids.servers">
              <clr-dg-action-overflow>
                  <button (click)="toggleServer(server.hostname)"
                      class="action-item">Remove from list</button>
              </clr-dg-action-overflow>
              <clr-dg-cell>{{server.hostname}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="10">
                  <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">Servers per page
                  </clr-dg-page-size>
                  {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}}
                  Servers
              </clr-dg-pagination>
          </clr-dg-footer>
      </clr-datagrid>
      </div>
    </div>
    <button (click)="update()" class="btn btn-outline">Update IDS</button>
  </div>