<app-alerts></app-alerts>
<clr-input-container>
    <label>Name<span style="color:red">*</span></label>
    <input type="text" autocomplete="false" name="name" [(ngModel)]="profile.name" clrInput required/>
    <clr-control-error>This field is required!</clr-control-error>
  </clr-input-container>
  <button class="btn btn-outline" (click)="update()" type="button">Update</button>
  <clr-stack-view>
    <clr-stack-header>Permissions</clr-stack-header>
    <clr-stack-block *ngFor="let entity of administrationEntities; index as i">
      <clr-stack-label>{{entity}}</clr-stack-label>
      <clr-stack-block>
        <clr-stack-label>
          <div *ngFor="let permission of permissionList; index as j" class="clr-toggle-wrapper">
            <input type="checkbox" *ngIf="hasPermission(permission+' '+entity);" [id]="i.toString()+j" checked (change)="toggle2($event,permission+' '+entity)"
              class="clr-toggle">
              <input type="checkbox" *ngIf="!hasPermission(permission+' '+entity);" [id]="i.toString()+j"  (change)="toggle2($event,permission+' '+entity)"
              class="clr-toggle">
            <label [for]="i.toString()+j" class="clr-control-label">{{permission}}</label>
          </div>
        </clr-stack-label>
      </clr-stack-block>
    </clr-stack-block>
  </clr-stack-view>
  