<div class="wrap">
  <button class="btn btn-outline" (click)="isModalVisible=true">Add {{elementName}}</button>


  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'id'" [clrDgSortOrder]="descSort">Id</clr-dg-column>
    <clr-dg-column [clrDgField]="'risk'" [clrDgSortOrder]="descSort">Risk</clr-dg-column>
    <clr-dg-column [clrDgField]="'status'" [clrDgSortOrder]="descSort">Status</clr-dg-column>
    <clr-dg-column [clrDgField]="'asset.name'" [clrDgSortOrder]="descSort">Asset</clr-dg-column>
    <clr-dg-column [clrDgField]="'auditor.name'" [clrDgSortOrder]="descSort">Auditor</clr-dg-column>
    <clr-dg-column [clrDgField]="'discoveryDate'" [clrDgSortOrder]="descSort">Found on</clr-dg-column>
    <clr-dg-column [clrDgField]="'mitigationDate'" [clrDgSortOrder]="descSort">Mitigated on</clr-dg-column>
    <clr-dg-column [clrDgField]="'resolutionDate'" [clrDgSortOrder]="descSort">Closed on</clr-dg-column>
    <clr-dg-column [clrDgSortBy]="daysComparator">Days to resolution
      <clr-dg-numeric-filter [clrDgNumericFilter]="daysFilter"></clr-dg-numeric-filter>
    </clr-dg-column>
    <clr-dg-row *clrDgItems="let vulnerability of elements" [clrDgItem]="vulnerability">
      <clr-dg-cell>{{vulnerability.name}}</clr-dg-cell>
      <clr-dg-cell>{{vulnerability.id}}</clr-dg-cell>
      <clr-dg-cell><span class="label" [style.background-color]="getBC(vulnerability.risk)"
          [style.color]="getFC(vulnerability.risk)"><b>{{vulnerability.risk}}</b></span>
      </clr-dg-cell>
      <clr-dg-cell><b>{{vulnerability.status}}</b></clr-dg-cell>
      <clr-dg-cell>{{vulnerability.asset.name}}</clr-dg-cell>
      <clr-dg-cell *ngIf="vulnerability.auditor; else undefinedAuditor">{{vulnerability.auditor.name}}</clr-dg-cell>
      <ng-template #undefinedAuditor>
        <clr-dg-cell></clr-dg-cell>
      </ng-template>
      <clr-dg-cell>{{vulnerability.discoveryDate | date}}</clr-dg-cell>
      <clr-dg-cell>{{vulnerability.mitigationDate | date}}</clr-dg-cell>
      <clr-dg-cell>{{vulnerability.resolutionDate | date}}</clr-dg-cell>
      <clr-dg-cell>{{getDays(vulnerability.discoveryDate,vulnerability.resolutionDate)}}</clr-dg-cell>
      <clr-dg-action-overflow>
        <button class="action-item" (click)="delete(vulnerability)">Delete</button>
        <button class="action-item" (click)="openEvidenceModal()">Add evidence</button>
      </clr-dg-action-overflow>
    </clr-dg-row>
    <clr-dg-detail *clrIfDetail="let detail">
      <clr-dg-detail-header>Vulnerability: {{detail.name}}</clr-dg-detail-header>
      <clr-dg-detail-body>
        <app-vulnerability-details [input]="detail" (updated)="modify($event)" ngProjectAs="clr-dg-row-detail">
        </app-vulnerability-details>
      </clr-dg-detail-body>
    </clr-dg-detail>
    <clr-dg-footer>
      <clr-dg-pagination #pagination>
        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">{{elementNamePlural}} per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} {{elementNamePlural}}
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>


<clr-modal *ngIf="isModalVisible" [(clrModalOpen)]="isModalVisible" [clrModalClosable]="true" [clrModalSize]="'xl'">
  <h3 class="modal-title">New {{elementName}}</h3>
  <div class="modal-body">
    <app-add-vulnerability (created)="addVulnerability($event)"></app-add-vulnerability>
  </div>
</clr-modal>


<clr-modal *ngIf="isEvidenceModalVisible" [(clrModalOpen)]="isEvidenceModalVisible" [clrModalClosable]="true"
  [clrModalSize]="'m'">
  <h3 class="modal-title">Add Evidence</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-lg-auto">
        <clr-textarea-container>
          <label>Description</label>
          <textarea rows="2" cols="50" clrTextarea [(ngModel)]="newEvidence.description" name="description"></textarea>
        </clr-textarea-container>
      </div>
    </div>
    <div class="clr-row">
      <input type="file" name="content" [(ngModel)]="newEvidence.content" />
    </div>
    <button (click)="addEvidence()" class="btn btn-outline">Add Evidence</button>
  </div>
</clr-modal>