<div class="wrap">
  <button class="btn btn-outline" (click)="isModalVisible=true">Add {{elementName}}</button>
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'" [clrDgSortOrder]="descSort">Description</clr-dg-column>
    <clr-dg-column [clrDgSortBy]="assetComparator">Assets
      <clr-dg-numeric-filter [clrDgNumericFilter]="assetFilter"></clr-dg-numeric-filter>
    </clr-dg-column>
    <clr-dg-row *clrDgItems="let area of elements" [clrDgItem]="area">
      <clr-dg-cell>{{area.name}}</clr-dg-cell>
      <clr-dg-cell>{{area.description}}</clr-dg-cell>
      <clr-dg-cell>{{area.Asset.length}}</clr-dg-cell>
      <clr-dg-action-overflow>
        <button class="action-item" (click)="delete(area)">Delete</button>
      </clr-dg-action-overflow>
    </clr-dg-row>
    <clr-dg-detail *clrIfDetail="let detail">
      <clr-dg-detail-header>Area: {{detail.name}}</clr-dg-detail-header>
      <clr-dg-detail-body>
        <app-area-details [input]="detail" (updated)="modify($event)" ngProjectAs="clr-dg-row-detail"></app-area-details>
      </clr-dg-detail-body>
    </clr-dg-detail>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[1,2,10,20,50,100]">{{elementNamePlural}} per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} {{elementNamePlural}}
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>



<clr-modal *ngIf="isModalVisible" [(clrModalOpen)]="isModalVisible" [clrModalClosable]="true" [clrModalSize]="'sm'">
  <h3 class="modal-title">New {{elementName}}</h3>
  <div class="modal-body">
    <app-add-area (created)="addArea($event)"></app-add-area>
  </div>
</clr-modal>

